{% extends "base.html" %}

{% block top %}
<section class="hero is-danger">
<div class="hero-body">
    <div class="container">
        <h1>Cadastre-se no mehor site de delivery do mundo!</h1>
    </div>
</div>
</section>
{% endblock %}


{% block main %}


<form action='{{url_for("site.signup")}}' method="post" enctype='multipart/formdata'>
    {{form.csrf_token}}

    {{form.email.label}}<br>
    {{form.email(size=20)}}<br>

    {{form.password.label}}<br>
    {{form.password(size=20)}}<br>

    {{form.foto.label}}<br>
    {{form.foto}}<br>

    <input type='submit' value='Enviar' />
</form>

{% endblock %}